@import "tailwindcss";

* button {
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out{
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

.animate-fade-out {
  animation: fade-out 0.8s ease-out;
}
